body {
  background-color: lightblue; }

::-webkit-input-placeholder {
  color: yellow; }

:-ms-input-placeholder {
  color: yellow; }

::-ms-input-placeholder {
  color: yellow; }

::placeholder {
  color: yellow; }
